<% if current_user %>
  <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Log In", new_user_session_path %>
<% end %>

<%= form_for @character do |f| %>
  <%= f.label :name, "Enter name here:"%>
  <%= f.text_field :name %>
  <%= f.label :realm, "Enter realm here:"%>
  <%= f.text_field :realm %>
  <%= f.submit "Submit" %>
<% end %>

<% if current_user %>
  <% current_user.characters.each do |character| %>
    <h2><%= character.name %></h2>
    <p>Realm: <%= character.realm %></p>
    <p>Battlegroup: <%= character.battlegroup %></p>
    <p>Class: <%= character.character_class %></p>
    <p>Race: <%= character.race %></p>
    <p>Gender: <%= character.gender %></p>
    <p>Level: <%= character.level %></p>
    <p>Achievement Points: <%= character.achievementPoints %></p>
    <p><%= character.powerType %>: <%= character.power %></p>
    <p>Strength: <%= character.strength %></p>
    <p>Agility: <%= character.agility %></p>
    <p>Stamina: <%= character.stamina %></p>
    <p>Intellect: <%= character.intellect %></p>
    <p>Spirit: <%= character.spirit %></p>
    <p>Mastery: <%= character.mastery %></p>
    <p>PvP Resilience: <%= character.pvpResilience %></p>
    <p>PvP Power Damage: <%= character.pvpPowerDamage %></p>
    <p>PvP Power Healing: <%= character.pvpPowerHealing %></p>
  <% end %>
<% end %>