<div class="span3"
  <p><%= @player1.name %> - <%= @player1.realm %></p>
  <p>Battlegroup: <%= @player1.battlegroup %></p>
  <p>Class: <%= @player1.character_class %></p>
  <p>Race: <%= @player1.race %></p>
  <p>Gender: <%= @player1.gender %></p>
  <p>Level: <%= @player1.level %></p>
  <p>Achievement Points: <%= @player1.achievementPoints %></p>
  <p>Health: <%= @player1.health %></p>
  <p><%= @player1.powerType %>: <%= @player1.power %></p>
  <p>Mastery: <%= @player1.mastery %></p>
  <p>PvP Resilience: <%= @player1.pvpResilience %></p>
  <p>PvP Power Damage: <%= @player1.pvpPowerDamage %></p>
  <p>PvP Power Healing: <%= @player1.pvpPowerHealing %></p>
  <p>Strength: <%= @player1.strength %></p>
  <p>Agility: <%= @player1.agility %></p>
  <p>Stamina: <%= @player1.stamina %></p>
  <p>Intellect: <%= @player1.intellect %></p>
  <p>Spirit: <%= @player1.spirit %></p>
</div>

<div class="span5">
  <h3><%= @versus['higherHealthPlayer'] %> has higher health</h3>
  <h3><%= @versus['higherDamagePlayer'] %> has higher damage</h3>
  <h3><%= @versus['higherHealingPlayer'] %> has higher healing</h3>
  <h1><%= @versus['verdict'] %>!!!</h1>
</div>

<div class="span3">
  <p><%= @player2['name'] %> - <%= @player2['realm'] %></p>
  <p>Battlegroup: <%= @player2['battlegroup'] %></p>
  <p>Class: <%= @player2['character_class'] %></p>
  <p>Race: <%= @player2['race'] %></p>
  <p>Gender: <%= @player2['gender'] %></p>
  <p>Level: <%= @player2['level'] %></p>
  <p>Achievement Points: <%= @player2['achievementPoints'] %></p>
  <p>Health: <%= @player2['health'] %></p>
  <p><%= @player2['powerType'] %>: <%= @player2['power'] %></p>
  <p>Mastery: <%= @player2['mastery'] %></p>
  <p>PvP Resilience: <%= @player2['pvpResilience'] %></p>
  <p>PvP Power Damage: <%= @player2['pvpPowerDamage'] %></p>
  <p>PvP Power Healing: <%= @player2['pvpPowerHealing'] %></p>
  <p>Strength: <%= @player2['strength'] %></p>
  <p>Agility: <%= @player2['agility'] %></p>
  <p>Stamina: <%= @player2['stamina'] %></p>
  <p>Intellect: <%= @player2['intellect'] %></p>
  <p>Spirit: <%= @player2['spirit'] %></p>
</div>